In [3]:
import pandas as pd
import numpy as np

In [10]:
#loading in and reading csv file
file_to_load = "Resources(1)/purchase_data.csv"
game_df = pd.read_csv(file_to_load)
#creating dataframe
purchase_data_df = pd.DataFrame(game_df, columns =['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'])
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#finding the number of total players
players = purchase_data_df['SN'].nunique()
total_players = pd.DataFrame({"Total Players": players}, index = [0])
total_players

   Total Players
0            576

In [9]:
#purcahsing analaysis
unique_items = purchase_data_df['Item Name'].nunique()
avg_price = purchase_data_df['Price'].mean()
num_purchases = purchase_data_df['Purchase ID'].count()
total_revenue = purchase_data_df['Price'].sum()

#displaying results
purchasing_analysis = pd.DataFrame({'Number of Unique Items': unique_items, 
                                    'Average Price': avg_price, 
                                    'Number of Purchases': num_purchases, 
                                     'Total Revenue': total_revenue}, index = [0])

#improved format
purchasing_analysis['Average Price'] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map("${0:,.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [22]:
#gathering info on gender
gender_groupby = purchase_data_df.groupby(['Gender']).nunique()
total_count = gender_groupby['SN'].sum()

#find specific values with regard to gender, and finding counts ans percentage
female = gender_groupby.iloc[0,1]
male = gender_groupby.iloc[1,1]
other = gender_groupby.iloc[2,1]
female_percent = female / total_count *100
male_percent = male / total_count *100
other_percent = other / total_count *100

#placing info into dataframe
gender_demo = pd.DataFrame({'Total Players': [male, female, other], 
                           'Percentage of Players': [male_percent, female_percent, other_percent]}, index = ['Male', 'Female', 'Other'])

#improving format
gender_demo['Percentage of Players'] = gender_demo["Percentage of Players"].map("{0:,.2f}%".format)
gender_demo

        Total Players Percentage of Players
Male              484                84.03%
Female             81                14.06%
Other              11                 1.91%

In [23]:
gender_purchase = purchase_data_df.groupby('Gender') 
gender_purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [24]:
#grouping the data to find the values we need 
gender_purchase = purchase_data_df.groupby('Gender').agg({'Price': ['mean','sum'], 'Purchase ID': ['count']}) 
                                                         
#calculating total count, avg purchase, total purchase and avg puchase per person for each gender
female_count = gender_purchase.iloc[0,2]
female_avg = gender_purchase.iloc[0,0]
female_total_rev = gender_purchase.iloc[0,1]
female_purchase_per_person = (gender_purchase.iloc[0,1] / female)

male_count = gender_purchase.iloc[1,2]
male_avg = gender_purchase.iloc[1,0]
male_total_rev = gender_purchase.iloc[1,1]
male_purchase_per_person = (gender_purchase.iloc[1,1] / male)

other_count = gender_purchase.iloc[2,2]
other_avg = gender_purchase.iloc[2,0]
other_total_rev = gender_purchase.iloc[2,1]
other_purchase_per_person = (gender_purchase.iloc[2,1] / other)


#creating a dataframe to display results
gender_spending =  pd.DataFrame({
                                'Purchase Count': [female_count, male_count, other_count],
                                  'Average Purchase Price': [female_avg, male_avg, other_avg], 
                                  'Total Purchase Value': [female_total_rev, male_total_rev, other_total_rev],
                                  'Avg Total Purchase Per Person': [female_purchase_per_person, male_purchase_per_person, other_purchase_per_person]}, index = ['Female', 'Male', 'Other / Non-Disclosed'])

#improved formatting
gender_spending['Average Purchase Price'] = gender_spending["Average Purchase Price"].map("${0:,.2f}".format)
gender_spending['Total Purchase Value'] = gender_spending["Total Purchase Value"].map("${0:,.2f}".format)
gender_spending['Avg Total Purchase Per Person'] = gender_spending["Avg Total Purchase Per Person"].map("${0:,.2f}".format)
gender_spending

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [25]:
# create bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#using pd.cut() we can separate the ages
purchase_data_df["Age Bins"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df.head()

#grouping by ages to find count and percentage 
age_group = purchase_data_df.groupby("Age Bins")
id_count = age_group["Purchase ID"].count()

percentage = (id_count / id_count.sum()) *100

#create a DF to place all the results in and clean up th formats
age_demo_df = pd.DataFrame({"Total Count": id_count,
                           "Percentage of Players": percentage})
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)
age_demo_df

          Total Count Percentage of Players
Age Bins
<10                23                 2.95%
10-14              28                 3.59%
15-19             136                17.44%
20-24             365                46.79%
25-29             101                12.95%
30-34              73                 9.36%
35-39              41                 5.26%
40+                13                 1.67%

In [26]:
#declaring variables to find the average price, total, and avergae total purchasing
age_avg_price = age_group['Price'].mean()
avg_total = id_count * age_avg_price
purchase_per_person = avg_total / id_count

#creating a DF to display the results 
age_analysis = pd.DataFrame({"Purchase Count": id_count,
                                "Average Purchase Price": age_avg_price,
                                "Total Purchase Value": avg_total,
                                "Avg Total Purchase per Person": purchase_per_person})
#imporving the formatting
age_analysis['Average Purchase Price'] = age_analysis["Average Purchase Price"].map("${0:,.2f}".format)
age_analysis['Total Purchase Value'] = age_analysis["Total Purchase Value"].map("${0:,.2f}".format)
age_analysis['Avg Total Purchase per Person'] = age_analysis["Avg Total Purchase per Person"].map("${0:,.2f}".format)

age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

In [27]:
#grouping by SN to find top spenders
#find the values from the data
top_spenders = purchase_data_df.groupby('SN')
spenders_count = top_spenders['Purchase ID'].count()
spenders_avg = top_spenders['Price'].mean()
spenders_total = spenders_count*spenders_avg

#place into DF
spenders_group_df = pd.DataFrame({"Purchase Count": spenders_count,
                          "Average Purchase Price": spenders_avg,
                          "Total Purchase Value": spenders_total})


spenders_group_df = spenders_group_df[["Purchase Count",
              "Average Purchase Price",
              "Total Purchase Value"]]

#sort results by descending values
topspenders_df = spenders_group_df.sort_values("Total Purchase Value", ascending=False)
topspenders_df["Average Purchase Price"] = spenders_group_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
topspenders_df["Total Purchase Value"] = spenders_group_df["Total Purchase Value"].astype(float).map("${:.2f}".format)
topspenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [28]:
#cleaning the data to only focus on item id, item name and price
# Declaring variables to find the most popular item
cleaned_purchased_data = purchase_data_df[['Item ID', 'Item Name', 'Price']]
most_popular = cleaned_purchased_data.groupby(['Item ID', 'Item Name'])
item_count = most_popular['Item ID'].count()
item_price = most_popular['Price'].mean()
total_purchase = item_count*item_price

#placing results into a DF
Most_Popular_Item = pd.DataFrame({'Purchase Count': item_count, 
                                 'Item Price': item_price, 
                                 'Total Purchase Value': total_purchase})


#cleaning the formatting and sorting the values 
Most_Popular_Item['Item Price'] = Most_Popular_Item['Item Price'].map("${0:,.2f}".format)
Most_Popular_Item['Total Purchase Value'] = Most_Popular_Item['Total Purchase Value'].map("${0:,.2f}".format)

Most_Popular_Item_df = Most_Popular_Item.sort_values(['Purchase Count'], ascending = False)
Most_Popular_Item_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [31]:
#same code as above in order to sort the results by total purchases 
cleaned_purchased_data = purchase_data_df[['Item ID', 'Item Name', 'Price']]
most_popular = cleaned_purchased_data.groupby(['Item ID', 'Item Name'])
item_count = most_popular['Item ID'].count()
item_price = most_popular['Price'].mean()
total_purchase = item_count*item_price


Most_Popular_Item = pd.DataFrame({'Purchase Count': item_count, 
                                 'Item Price': item_price, 
                                 'Total Purchase Value': total_purchase})

#sorting by total purchase value 
Most_Popular_Item_df = Most_Popular_Item.sort_values(['Purchase Count'], ascending = False)

Most_Popular_Item_df['Item Price'] = Most_Popular_Item['Item Price'].map("${0:,.2f}".format)
Most_Popular_Item_df['Total Purchase Value'] = Most_Popular_Item['Total Purchase Value'].map("${0:,.2f}".format)


Most_Popular_Item_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77